<h1>About economz</h1>
<p>Everyday, multiple times a day, you make a key choice that will determine your personal carbon footprint. It’s not necessarily the car you drive or even the fuel you burn (although these are important sources as well) — rather, it is the food you choose to consume.</p>
<p>When it comes to your personal carbon footprint, your food choices matter - a lot. Some studies peg food choices as contributing as much as 30% of one’s overall carbon footprint.</p>
<p><strong>economz is a visualization project that helps people make sense of their carbon foodprint</strong>. By creating meals using popular food items, economz shows the associated carbon footprint using a gauge we’re all familiar with: car miles traveled.</p>
<p>There are two ways to use economz:</p>
<ol>
<li>On the Web (<a href="http://itp.nyu.edu/~sjs663/sinatra/economz/" target="_blank">Right here!</a>) — create meals, learn about your carbon foodprint, and share!</li>
<li>Physical Installation — located at <a href="http://itp.nyu.edu/" target="_blank">NYU’s Interactive Telecommunications Program</a>, you can also create meals using the economz physical installation of mock food items. <a href="http://itp.nyu.edu/~sjs663/sinatra/economz/physical-installation" target="_blank">See more info here</a>. Contact the project creator (info below) to bring economz to your own exhibit or event. Shipping is possible.</li>
</ol>
<h1>About the Data</h1>
<p>economz looked to the Envrionmental Working's Group 2011 report "Meat Eater's Guide to Climate Change and Health" for data on the life-cycle carbon impact of different food items. <a href="http://www.ewg.org/meateatersguide/interactive-graphic/" target="_blank">Read all about this data here</a>. The key point is that certain foods are associated with much higher carbon emissions, due to the production systems it takes to produce these foods — from the pesticides and fertilizer used to grow animal feed all the way through the grazing, animal raising, processing, transportation, cooking and, finally, disposal of unused food. What you eat is much more important than where it came from. The distance that food travels is only around 11% of the average American household’s carbon foodprint. Food production is what matters. More than 90 per cent of beef’s emissions, 69 per cent of pork’s and 72 per cent of farmed salmon’s emissions come in the production phase.</p>
<h1>The Technology</h1>
<p>More on this soon!</p>
<h1>More Info</h1>
<p>economz was created by Sam Slover at NYU's Interactive Telecommunications Program. For more info or to get in touch, contact sam AT athinkingsam.com.</p>