<h1>The Physical Installation</h1>
<p>Located at NYU’s Interactive Telecommunications Program, economz is also a physical installation where you can create meals using mock food items. <strong>More info soon.</strong></p>